.vscode
*.bak
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/obj
/code/webapi/DynoCardWebAPI/.vs/DynoCardWebAPI/v15
*.dll
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/bin/Debug/netcoreapp2.0/DynoCardWebAPI.deps.json
*.pdb
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/bin/Debug/netcoreapp2.0/DynoCardWebAPI.runtimeconfig.dev.json
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/bin/Debug/netcoreapp2.0/DynoCardWebAPI.runtimeconfig.json
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/Properties/launchSettings.json
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/Properties/PublishProfiles/DynoCardWebAPI20180405081533 - Web Deploy.pubxml
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/Properties/PublishProfiles/DynoCardWebAPI20180405081533 - Web Deploy.pubxml.user
/DynoCardAlert/modules/DynoCardAlertModule/obj/Debug/netcoreapp2.0
/DynoCardAlert/modules/DynoCardAlertModule/obj/Release/netcoreapp2.0
/code/webapi/DynoCardWebAPI/DynoCardWebAPI/Properties/PublishProfiles
/code/containers/mssql_db/db-changes.zip
/code/webapi/DynoCardWebAPI/.vs/DynoCardWebAPI/DesignTimeBuild/.dtbcache
code/containers/DynoCardAlert/modules/DynoCardAlertModule/obj/
code/containers/DynoCardAlert/modules/DynoCardAlertModule/bin/