<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SurfaceCard.ScaledMinLoad" value="7500"/>
    <add key="SurfaceCard.ScaledMaxLoad" value="19500"/>
    <add key="SurfaceCard.StrokeLength" value="1200"/>
    <add key="SurfaceCard.StrokePeriod" value="150"/>
    <add key="PumpCard.ScaledMinLoad" value="6500"/>
    <add key="PumpCard.ScaledMaxLoad" value="18500"/>
    <add key="PumpCard.NetStrokeLength" value="150"/>
    <add key="PumpCard.GrossStrokeLength" value="500"/>
    <add key="PumpCard.PumpFillage" value="77"/>
    <add key="PumpCard.FluidLoad" value="9500"/>
  </appSettings>
</configuration>