/*.axis--x path {*/
/*display : none;*/
/*}*/
/*.line {*/
/*fill         : none;*/
/*stroke       : #4682b4;*/
/*stroke-width : 1.5px;*/
/*}*/
/**/
@import "~bootstrap/dist/css/bootstrap.css";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";

#controlDiv {
  width : 1200px;
}

svg {
  display : block;
  margin  : 20px 0;
}

p {
  font-size   : 20px;
  font-weight : bold;
  color       : #4682b4;
}

#datePicker1 {
  float : none;
}

#controlDiv {
  padding          : 5px;
  margin           : 5px;
  background-color : #F7F7F7;
}

path {
  shape-rendering : geometricPrecision;
}

.x-axis path,
.x-axis line {
  fill            : none;
  stroke          : #a52a2a;
  shape-rendering : crispEdges;
  stroke-width    : 2px;
}

.x-axis text {
  font-family : sans-serif;
  font-style  : italic;
  font-size   : 14px;
  font-weight : bold;
  fill        : #a52a2a;

}

.y-axis path,
.y-axis line {
  fill            : none;
  stroke          : #4682b4;
  shape-rendering : crispEdges;
  stroke-width    : 2px;
}

.y-axis text {
  font-family : sans-serif;
  font-style  : italic;
  font-size   : 14px;
  fill        : #4682b4;

}

.y-axis-pump path,
.y-axis-pump line {
  fill            : none;
  stroke          : #a52a2a;
  shape-rendering : crispEdges;
  stroke-width    : 2px;
}

.y-axis-pump text {
  font-family : sans-serif;
  font-style  : italic;
  font-size   : 14px;
  fill        : #a52a2a;

}

.legend {
  font-size   : 20px;
  font-weight : 700;
}

.legend rect {
  fill    : #fff;
  stroke  : #000;
  opacity : 0.8;
}

.axis path,
.axis line {
  fill            : none;
  stroke          : black;
  shape-rendering : crispEdges;
}

.axis text {
  font-family : sans-serif;
  font-size   : 15px;
  font-weight : 700;
}

.axis-label {
  font-family : sans-serif;
  font-size   : 18px;
  font-weight : 700;
}

